/* Global */

* {
  font-family: "Roboto";
  color: $Default;
  margin: 0;
  padding: 0;

}

p {
  line-height: 1.5;
  padding: 10px;

}

a {
  text-decoration: none;
  color: $main;
}

blockquote {
  background-color: $bq;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-style: oblique;

}

div {
  line-height: 1.5;
  padding: 10px;
}

mark {
  background-color: $mark;
  padding: 2px;
  border-radius: 5px;
}

strong {
  color: $main
}

textarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  outline: none;


}