<section class="attitude">
	<h3>Day Num - Attitude Assessment</h3>
	<p>
		Each day, you will be given a short mental game assessment, which includes
		three important questions related specifically to the day’s topic. If you
		answer “yes” to the questions, place a check in the box to the right of the
		question.
	</p>

	<h4>Fearless Athlete Day Num - Mental assessment</h4>
	<div>
		<div class="chkbox">
			<input type="checkbox" value="1" name="q1" id="" />
		</div>
		TXT
	</div>
	<div>
		<div class="chkbox">
			<input type="checkbox" value="1" name="q1" id="" />
		</div>
		TXT
	</div>
	<div>
		<div class="chkbox">
			<input type="checkbox" value="1" name="q1" id="" />
		</div>
		TXT
	</div>
</section>
