/* Site Footer */
footer {

  background-color: $main;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 10px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);

  text-shadow: rgba(0, 0, 0, .5) 1px 1px 2px;
  height: 60px;
  color: white;
  border-top: solid 2px grey;

  a {
    color: white;

  }

  h2 {
    color: white;
    margin-top: -5px;
  }

  strong {
    color: white;


  }

  span {
    font-size: 1.5rem;
    color: white;
  }




  p {

    color: white;
    font-size: .8rem;
    margin-top: -15px;

  }

  .day {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: -20px;
    color: white;

    .day-item {
      width: 100px;
      font-size: 0.8rem;
      align-content: center;
      color: white;
    }

    .day-main-title {
      width: 75%;
      text-align: center;
      color: white;
      font-size: .9rem;
    }

    a {
      color: white;
    }
  }
}

current-day {
  font-size: 3rem;
}