/* Site Header */
header {

  font-family: 'Montserrat';
  background-color: $main;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 150px;


  h1,
  h2 {
    font-family: 'Permanent Marker';
    color: white;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}