/* Site Footer */
footer {
  font-family: 'Montserrat';
  background-color: $main;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 50px;
  color: white;
}