.txt-input {
  background-color: $bq;
  outline: none;
  border: none;
  height: 80px;
  border-radius: 8px;
  padding: 5px;

  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);

  &::placeholder {
    color: rgba(0, 0, 0, 0.1);
  }
}